.container {
  padding-top: 1rem;
  height: 100vh;
  background-color: white;
}

.parking-container {
  background-color: rgb(255, 255, 255);
}

.parking {
  cursor: pointer;
  padding: 0.5rem;
  margin-left: 1rem;
  background-color: black;
  color: white;
  min-width: 7rem;
}

.label {
  font-weight: 600;
  font-size: 1.1rem;
}

.header {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 0.4rem;
  background-color: black;
  color: white;
  padding: 0.4rem;
  text-align: center;
  font-weight: 500;
}
